<sly
	data-sly-use.categoryListModel="com.olympus.oca.core.models.CategoryListModel" />
<div class="shop-category container-with-padding">
	<sly data-sly-list.categories="${categoryListModel.categoriesL1}">
	<div class="shop-category-block">
		<div class="shop-category-l1">
			<span class="l1-label">${properties.label} ${categories.name}</span> <a
				class="view-all" x-cq-linkchecker="skip" href="${categories.url}">${properties.viewlabel}</a>
		</div>
		<div class="shop-category-l2">
			<ul class="shop-category-l2-ul">
				<sly data-sly-list.catL2="${categoryListModel.categoriesL2}">
				<sly
					data-sly-list.categoriesL2key="${categoryListModel.categoriesL2[catL2]}">
				<li class="shop-category-l2-list"
					data-sly-test="${categories.id == catL2}">
					<sly data-sly-test="${categoriesL2key.children}">
					<div class="align-l2">
						<img src="${properties.arrowIcon}" alt="${properties.arrowIcon ? arrow : ''}"/><span>${categoriesL2key.name}</span>
					</div>
					</sly>
					<sly data-sly-test="${!categoriesL2key.children}">
					<div class="align-l2-a">
						<img src="${properties.arrowIcon}" alt="${properties.arrowIcon ? arrow : ''}"/><a x-cq-linkchecker="skip" href="${categoriesL2key.url}">${categoriesL2key.name}</a>
					</div></sly>
					<div data-sly-test="${categoriesL2key.children}" class="shop-category-l3">
						<sly data-sly-list.catL3="${categoryListModel.categoriesL3}">
						<ul
							data-sly-list.categoriesL3key="${categoryListModel.categoriesL3[catL3]}">
							<li data-sly-test="${catL3 == categoriesL2key.id}"
								class="shop-category-l3-list"><a
									x-cq-linkchecker="skip" href="${categoriesL3key.url}">${categoriesL3key.name}</a></li>
						</ul>
						</sly>
					</div>
				</li>
				</sly></sly>
			</ul>
		</div>
	</div>
	</sly>
</div>