<div id="overlay" class="overlay-wrapper"></div>
<div id="notif">
  <div class="cart-header">
    <div class="cart-text">Your Cart</div>
    <span class="dot" id="closePanel">
      <a href="javascript:void(0)">
        <img
          src="/assets/icons/Close.svg"
          class="close-button"
          alt="Close button"
        />
      </a>
    </span>

  </div>
  <div class="cart-body">
    <img src="/assets/icons/Cart Panel.svg" alt="Cart Panel" />
    <div class="cart-text">Your cart is empty</div>
    <div class="shopping-btn-container">
      <button id="shoppingBtn" type="button" class="btn btn-primary">
        <a href="" id="shoppingText"> Start Shopping</a>
        <a href="" id="learnText"> Learn More</a>
      </button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="7.385"
        height="13"
        viewBox="0 0 7.385 13"
      >
        <path
          id="Path_3832"
          data-name="Path 3832"
          d="M.885,0l6.5,6.5L.885,13,0,12.122,5.644,6.5h0L0,.878Z"
          fill="#fff"
        ></path>
      </svg>
    </div>

  </div>

</div>
<div class="blue-navigation">
  <div class="blue-content">
    <img src="/assets/icons/Home.svg" alt="Home" />
    <a href="link address"> <div>MYOLYMPUS</div></a>
    <img src="/assets/icons/Arrow_Yellow.svg" alt="White arrow" />
    <div>Hello,
      <span id="customer-name">{{navigation.name}}
      </span>
    </div>
  </div>

  <div class="blue-content-right">
    <div class="blue-account">Account:</div>
    <div class="dropdown navigation-select" id="toggleMyDropdown">
      <div class="dropdown-arrow">
        <button id="toggleMyForm" class="dropbtn"> </button>
        <img src="/assets/icons/Arrow_Blue.svg" alt="Blue arrow" />
      </div>
      <div id="myDropdown" class="dropdown-content">
      </div>
    </div>
    {{!-- <select
      id="selectAccounts"
      class="account-dropdown dropdown navigation-select"
      onchange="onChangeAccount(event);"
    ></select> --}}
    <div class="blue-nav-icons">
      <a href="link address">
        <img src="/assets/icons/Question.svg" alt="Question mark" />
      </a>
      <a href="#" id="hoverme"><img
          src="/assets/icons/Cart Drawer.svg"
          alt="Cart Drawer"
        /></a>
      <a href="link address" hidden><img
          src="/assets/icons/Notifications.svg"
          alt="Notifications"
        />
      </a>
    </div>
  </div>
</div>