<sly
  data-sly-use.model="com.olympus.oca.core.models.OrderSubmissionModel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
/>

<order-confirmation-page
  title="${model.orderConfirmationTitle}"
  description="${model.orderConfirmDescription}"
  address="${model.shippingAddress}"
  paymentmethod="${model.paymentMethod}"
  dateplaced="${model.datePlaced}"
  ordernumber="${model.orderNumber}"
  ponumber="${model.poNumber}"
  totalprice="${model.totalPrice}"
  modelstatuslabel="${model.orderStatusLabel}"
  modelnumber="${model.modelNumber}"
  product="${model.product}"
  modeldescription="${model.description}"
  quantity="${model.quantity}"
/>
