<sly
 data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
 data-sly-use.cartDetails="com.olympus.oca.core.models.CartDetailsModel"
 data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
 <div id="${component.id}" class="cartcontainer__root">
     <div id="root" class="cartcontainer__body">
        <cart-page
            checkoutpagepath="${cartDetails.checkoutPagePath}"
            shoppagepath="${cartDetails.shopPagePath}"
        ></cart-page>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = true}" />