@import "../../site/mixins";
@import "../../site/_variables.scss";
@import "../../site/_base.scss";

.orderConfirmation {
    width: 70vw !important;

    &__title{
        padding: rem(10);
        color: $blue-v3;
        font: normal normal 700 3pc/3.5625rem Helvetica;
        letter-spacing: 0.06rem;
        //margin-bottom: 1.0625rem;
        margin-top: 0;

        @include mobile-only {
            padding: rem(10) rem(0);
        }
    }

    &__desc{
        padding: rem(10);
        font: normal normal 300 17px/26px Helvetica;
        letter-spacing: 0.34px;
        color: $dark-gray;
        margin-top: 0;
        opacity: 1;

        @include mobile-only {
            padding: rem(10) rem(0);
        }
    }

    @include tablet-mobile-both {
        width: 100% !important;
    }
}
