<div id="showAccouts" class="modal changing-account-popup" tabindex="-1">
  <div
    class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">${accountPopupModel.title}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="text-dark-grey">
          ${accountPopupModel.description}
        </p>
        <div class="row">
          <div class="col-md-3 selecttext-column">
            <span class="font-weight-500">Selected Account:</span>
          </div>
          <div class="col-md-9 select-dropdown-column">
            <div class="dropdown navigation-select" id="toggleMyDropdownModal">
              <div class="dropdown-arrow">
                <button id="toggleMyFormModal" class="dropbtnModal"> </button>
                <img src="/assets/icons/Arrow_Blue.svg" alt="Blue arrow" />
              </div>
              <div id="myDropdownModal" class="dropdown-content-modal">
              </div>
            </div>
            {{!-- <select
              id="modalselectAccounts"
              class="modal-select-accounts"
            ></select> --}}
          </div>
        </div>
        <div class="form-check model-form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="showAccoutsPopup"
          />
          <label class="form-check-label text-dark-grey" for="showAccoutsPopup">
            Do not show this message again
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          onclick="confirmPopupAccounts()"
        >
          Confirm
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>