.cmp-accordion {
    margin: rem(52) rem(10) 0 rem(10);

    @include desktop-only {
        margin: 0;
    }
}

.cmp-accordion__item {
    margin-bottom: rem(20);
}

.cmp-accordion__header {}

.cmp-accordion__button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    display: flex;
    align-items: center;
}

.cmp-accordion__button--expanded {}

.cmp-accordion__title {
    font: $font-size-bold-h4;
    letter-spacing: 0;
    color: $black;
    padding: rem(33) rem(110) rem(33) rem(30);

    @include mobile-only {
        padding: rem(33) rem(30);
        font-size: $font-size-mob-h4;
    }
}

.cmp-accordion__icon {
    background: url(/content/dam/olympus/self-serviceportal/en/site/icons/Plus_Frame.svg) no-repeat padding-box;
    width: rem(50);
    height: rem(54);
    margin-left: auto;
    padding-right: rem(30);

    @include mobile-only {
        height: rem(32);
        width: rem(32);
        background-size: rem(32);
    }
}

.cmp-accordion__button--expanded {
    .cmp-accordion__icon {
        background: url(/content/dam/olympus/self-serviceportal/en/site/icons/Minus_Inverse.svg) no-repeat padding-box;

        @include mobile-only {
            background-size: rem(32);
        }
    }
}

.cmp-accordion__panel {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top: 5px solid $light-gray;

    .cmp-text p {
        margin: rem(30);
        font: $font-size-regular-p;
        letter-spacing: rem(0.34);
        color: $dark-gray;
    }
}

.cmp-accordion__panel--expanded {}

.cmp-accordion__panel--hidden {}