<template data-sly-template.item="${@ item, productCollection, index}"
          data-sly-use.priceTemplate="core/cif/components/commons/v1/price.html"
          data-sly-use.actionsTemplate="actions.html">
    <a class="productcollection__item"
       id="${item.id}"
       title="${item.title}"
       role="product"
       data-cmp-data-layer="${item.data.json}"
       data-cmp-clickable="${item.data ? true : false}"
       data-product-sku="${item.SKU}"
       data-sku="${item.SKU}"
       href="${item.URL}">
<!--        Commenting to remove Image as of now and can be added in future   -->
<!--        <div class="productcollection__item-images">-->
<!--            <img data-sly-test.hasImage="${item.imageURL}" class="productcollection__item-image"  src="${item.imageURL}" alt="${item.imageAlt}" />-->
<!--            <img data-sly-test="${!hasImage}" class="productcollection__item-image productcollection__item-image&#45;&#45;placeholder" alt=""-->
<!--                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAQAAADIpIVQAAAADklEQVR42mNkgAJGIhgAALQABsHyMOcAAAAASUVORK5CYII="/>-->
<!--        </div>-->
        <div class="productcollection__item-title"><span>${item.title}</span></div>
        <div class="productcollection__item-table">

            <div class="productcollection__item-table--header">
                <span class="productcollection__item-table--header-item">${'Item #' @ i18n}</span>
                <span class="productcollection__item-table--header-item">${'Variance' @ i18n}</span>
                <span class="productcollection__item-table--header-item">${'Description' @ i18n}</span>
                <span class="productcollection__item-table--header-item">${'Your Price' @ i18n}</span>
                <span class="productcollection__item-table--header-item">${'Quantity' @ i18n}</span>
            </div>
            <div class="productcollection__item-table--data">
                <div class="productcollection__item-table--data-row ${item.product.stockStatus != 'IN_STOCK' ? 'productcollection__item-unavailable' : ''}" data-item="${item.SKU}">
                    <span class="productcollection__item-table--data-item">${item.SKU}</span>
                    <span class="productcollection__item-table--data-item">${item.product.name}</span>
                    <span class="productcollection__item-table--data-item">${item.product.description.html @ context='html'}</span>
                    <div class="price productcollection__item-table--data-item">
                        <span class="price-item">${item.priceRange.formattedFinalPrice}</span>
                    </div>
                    <div class="productcollection__item-quantity productcollection__item-table--data-item" data-sly-test="${item.product.stockStatus == 'IN_STOCK'}">
                        <input class="productcollection__item-quantity-value" type="number" value="1"
                               onkeyup="preventInvalidQuantity(event)" onkeydown="quantityValidations(event)" onchange="onQuantityChange(event)"/>
                    </div>
                    <div class="productcollection__item-actions" data-sly-test="${item.product.stockStatus == 'IN_STOCK'}">
                        <button
                                class="productcollection__item-button productcollection__item-button--add-to-cart"
                                type="button"
                                onclick="onAddToCart(event)"
                                data-sku="${item.SKU}">
                                    <span class="productcollection__item-button-content">
                                        <span>${'Add to Cart' @ i18n}</span>
                                    </span>
                        </button>
                        <button
                                class="productcollection__item-button productcollection__item-button--add-to-wish-list"
                                type="button">
                                    <span class="productcollection__item-button-content">
                                        <span>${'Add to Wish List' @ i18n}</span>
                                    </span>
                        </button>
                    </div>
                    <div class="productcollection__item-table--data-item productcollection__item-unavailable--text" data-sly-test="${item.product.stockStatus != 'IN_STOCK'}">
                        <img src="/content/dam/olympus/icon/Important_Red.svg" alt="Important Red" />
                        <span data-sly-test="${item.product.stockStatus == 'OUT_OF_STOCK'}">${'Temporarily Unavailable' @ i18n}</span>
                        <span data-sly-test="${item.product.stockStatus == 'UNKNOWN_VALUE'}">${'Contact your sales rep' @ i18n}</span>
                    </div>
                </div>
                <div class="productcollection__item-table--data-row ${productVariant.product.stockStatus != 'IN_STOCK' ? 'productcollection__item-unavailable' : ''}" data-item="${productVariant.product.sku}" data-sly-repeat.productVariant="${item.product.variants}">
                    <span class="productcollection__item-table--data-item">${productVariant.product.sku}</span>
                    <span class="productcollection__item-table--data-item">${productVariant.product.metaTitle}</span>
                    <span class="productcollection__item-table--data-item">${productVariant.product.metaDescription}</span>
                    <div class="price productcollection__item-table--data-item">
                        <span class="price-item">$${productVariant.product.priceRange.maximumPrice.finalPrice.value}</span>
                    </div>
                    <div class="productcollection__item-quantity productcollection__item-table--data-item" data-sly-test="${productVariant.product.stockStatus == 'IN_STOCK'}">
                        <input class="productcollection__item-quantity-value" type="number" value="1"
                            onkeyup="preventInvalidQuantity(event)" onkeydown="quantityValidations(event)" onchange="onQuantityChange(event)"/>
                    </div>
                    <div class="productcollection__item-actions" data-sly-test="${productVariant.product.stockStatus == 'IN_STOCK'}">
                        <button
                                class="productcollection__item-button productcollection__item-button--add-to-cart"
                                type="button"
                                onclick="onAddToCart(event)"
                                data-sku="${productVariant.product.sku}">
                                        <span class="productcollection__item-button-content">
                                            <span>${'Add to Cart' @ i18n}</span>
                                        </span>
                        </button>
                        <button
                                class="productcollection__item-button productcollection__item-button--add-to-wish-list"
                                type="button">
                                        <span class="productcollection__item-button-content">
                                            <span>${'Add to Wish List' @ i18n}</span>
                                        </span>
                        </button>
                    </div>
                    <div class="productcollection__item-table--data-item productcollection__item-unavailable--text" data-sly-test="${productVariant.product.stockStatus != 'IN_STOCK'}">
                        <img src="/content/dam/olympus/icon/Important_Red.svg" alt="Important Red" />
                        <span data-sly-test="${productVariant.product.stockStatus == 'OUT_OF_STOCK'}">${'Temporarily Unavailable' @ i18n}</span>
                        <span data-sly-test="${productVariant.product.stockStatus == 'UNKNOWN_VALUE'}">${'Contact your sales rep' @ i18n}</span>
                    </div>
                </div>
            </div>
            <div class="productcollection__item-mobile">
                <div class="productcollection__item-mobile-row ${item.product.stockStatus != 'IN_STOCK' ? 'productcollection__item-unavailable' : ''}" data-item="${item.SKU}">
                    <span class="productcollection__item-mobile-row-title">${'Item #' @ i18n}</span>
                    <span class="productcollection__item-table--data-item">${item.SKU}</span>
                    <span class="productcollection__item-mobile-row-title">${'Variance' @ i18n}</span>
                    <span class="productcollection__item-table--data-item">${item.product.name}</span>
                    <span class="productcollection__item-mobile-row-title">${'Description' @ i18n}</span>
                    <span class="productcollection__item-table--data-item">${item.product.description.html @ context='html'}</span>
                    <div class="productcollection__item-mobile-row-actions">
                        <div class="productcollection__item-mobile-row-actions-price">
                            <span class="productcollection__item-mobile-row-title">${'Your Price' @ i18n}</span>
                            <div class="price productcollection__item-table--data-item">
                                <span class="price-item">${item.priceRange.formattedFinalPrice}</span>
                            </div>
                        </div>
                        <div class="productcollection__item-quantity productcollection__item-table--data-item" data-sly-test="${item.product.stockStatus == 'IN_STOCK'}">
                            <input class="productcollection__item-quantity-value" type="number" value="1"
                                   onkeyup="preventInvalidQuantity(event)" onkeydown="quantityValidations(event)" onchange="onQuantityChange(event)"/>
                        </div>
                        <div class="productcollection__item-actions" data-sly-test="${item.product.stockStatus == 'IN_STOCK'}">
                            <button
                                    class="productcollection__item-button productcollection__item-button--add-to-cart"
                                    type="button"
                                    onclick="onAddToCart(event)"
                                    data-sku="${item.SKU}">
                                        <span class="productcollection__item-button-content">
                                            <span>${'Add to Cart' @ i18n}</span>
                                        </span>
                            </button>
                            <button
                                    class="productcollection__item-button productcollection__item-button--add-to-wish-list"
                                    type="button">
                                        <span class="productcollection__item-button-content">
                                            <span>${'Add to Wish List' @ i18n}</span>
                                        </span>
                            </button>
                        </div>
                        <div class="productcollection__item-table--data-item productcollection__item-unavailable--text" data-sly-test="${item.product.stockStatus != 'IN_STOCK'}">
                            <img src="/content/dam/olympus/icon/Important_Red.svg" alt="Important Red" />
                            <span data-sly-test="${item.product.stockStatus == 'OUT_OF_STOCK'}">${'Temporarily Unavailable' @ i18n}</span>
                            <span data-sly-test="${item.product.stockStatus == 'UNKNOWN_VALUE'}">${'Contact your sales rep' @ i18n}</span>
                        </div>
                    </div>
                </div>
                <div class="productcollection__item-mobile-row ${productVariant.product.stockStatus != 'IN_STOCK' ? 'productcollection__item-unavailable' : ''}" data-item="${productVariant.product.sku}" data-sly-repeat.productVariant="${item.product.variants}">
                    <span class="productcollection__item-mobile-row-title">${'Item #' @ i18n}</span>
                    <span class="productcollection__item-table--data-item">${productVariant.product.sku}</span>
                    <span class="productcollection__item-mobile-row-title">${'Variance' @ i18n}</span>
                    <span class="productcollection__item-table--data-item">${productVariant.product.metaTitle}</span>
                    <span class="productcollection__item-mobile-row-title">${'Description' @ i18n}</span>
                    <span class="productcollection__item-table--data-item">${productVariant.product.metaDescription}</span>
                    <div class="productcollection__item-mobile-row-actions">
                        <div class="productcollection__item-mobile-row-actions-price">
                            <span class="productcollection__item-mobile-row-title">${'Your Price' @ i18n}</span>
                            <div class="price productcollection__item-table--data-item">
                                <span class="price-item">$${productVariant.product.priceRange.maximumPrice.finalPrice.value}</span>
                            </div>
                        </div>
                        <div class="productcollection__item-quantity productcollection__item-table--data-item" data-sly-test="${productVariant.product.stockStatus == 'IN_STOCK'}">
                            <input class="productcollection__item-quantity-value" type="number" value="1"
                                    onkeyup="preventInvalidQuantity(event)" onkeydown="quantityValidations(event)" onchange="onQuantityChange(event)"/>
                        </div>
                        <div class="productcollection__item-actions" data-sly-test="${productVariant.product.stockStatus == 'IN_STOCK'}">
                            <button
                                    class="productcollection__item-button productcollection__item-button--add-to-cart"
                                    type="button"
                                    onclick="onAddToCart(event)"
                                    data-sku="${productVariant.product.sku}">
                                        <span class="productcollection__item-button-content">
                                            <span>${'Add to Cart' @ i18n}</span>
                                        </span>
                            </button>
                            <button
                                    class="productcollection__item-button productcollection__item-button--add-to-wish-list"
                                    type="button">
                                        <span class="productcollection__item-button-content">
                                            <span>${'Add to Wish List' @ i18n}</span>
                                        </span>
                            </button>
                        </div>
                        <div class="productcollection__item-table--data-item productcollection__item-unavailable--text" data-sly-test="${productVariant.product.stockStatus != 'IN_STOCK'}">
                            <img src="/content/dam/olympus/icon/Important_Red.svg" alt="Important Red" />
                            <span data-sly-test="${productVariant.product.stockStatus == 'OUT_OF_STOCK'}">${'Temporarily Unavailable' @ i18n}</span>
                            <span data-sly-test="${productVariant.product.stockStatus == 'UNKNOWN_VALUE'}">${'Contact your sales rep' @ i18n}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="productcollection__item-view" data-sly-test="${item.product.variants}">
            <button type="button" class="productcollection__item-view-button-more" data-index="${index}"
                    onclick="openViewMore(event)">
                    ${'View more options' @ i18n}
                    <img src="/content/dam/olympus/icon/Arrow_Blue.svg" alt="Blue Arrow"></button>
            <button type="button" class="productcollection__item-view-button-less" data-index="${index}"
                    onclick="closeViewMore(event)" style="display: none">
                    ${'View less options' @ i18n}
                    <img
                    src="/content/dam/olympus/icon/Arrow_Blue.svg" alt="Blue Arrow"></button>
        </div>
    </a>
</template>