@import '../../site/_mixins.scss';
@import '../../site/_variables.scss';
@import '../../site/_base.scss';

.orderhistory {
    margin: rem(80) rem(30) rem(80) rem(60) !important;
    width: calc(66.66666667% - rem(42)) !important;

    &__root {
        width: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font: normal normal bold $font-size-large/rem(57) Helvetica;
        letter-spacing: rem(0.96);
        color: $blue-v3;
        margin-top: rem(0);
        margin-bottom: rem(17);

        @include tablet-mobile-both {
            font: normal normal bold $font-size-mob-h2/rem(38) Helvetica;
            letter-spacing: rem(0.64);
        }

        @include tablet-only {
            margin-bottom: rem(30);
        }
    }

    &__search {
        width: 100%;
        display: inline-block;

        &-input {
            width: 85%;
            padding: rem(10) rem(15) rem(10) rem(40);
            font: normal normal 300 $font-size-17/rem(26) Helvetica;
            letter-spacing: rem(0.34);
            color: $dark-gray;
            border: rem(1) solid $border-gray;
            background: url("data:image/svg+xml, %3Csvg%20id%3D%22Detail%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20height%3D%2217.364%22%20viewBox%3D%220%200%2019%2017.364%22%3E%3Cg%20id%3D%22Detail_plain%22%3E%3Cpath%20id%3D%22Path_1007%22%20data-name%3D%22Path%201007%22%20d%3D%22M34.887%2C34.4l-6.016-4.773a6.775%2C6.775%2C0%2C1%2C0-1.694%2C1.835l6.162%2C4.884A1.243%2C1.243%2C0%2C1%2C0%2C34.887%2C34.4Zm-14.14-3.252a5.578%2C5.578%2C0%2C1%2C1%2C4.325.2A5.646%2C5.646%2C0%2C0%2C1%2C20.747%2C31.145Z%22%20transform%3D%22translate(-16.357%20-19.25)%22%20fill%3D%22%2308107b%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 13px center;
            background-color: $white;

            &:focus, :focus-visible {
                outline: none;
            }

            @include mobile-only {
                width: 100%;
            }
        }

        &-button {
            width: 15%;
            padding: rem(10) rem(30);
            font: normal normal normal $font-size-17/rem(22) Helvetica;
            letter-spacing: rem(0);
            color: $white;
            background: $blue 0% 0% no-repeat padding-box;
            border-color: $blue;
            cursor: pointer;

            @include mobile-only {
                display: none;
            }

            &:disabled {
                background: $medium-gray 0% 0% no-repeat padding-box;
                pointer-events: none;
                color: $black-v2;
                border: rem(2) solid $medium-gray;
            }
        }
    }

    &__data {
        width: 100%;
        margin-top: rem(70);

        @include tablet-only {
            margin-top: rem(50);
        }

        @include mobile-only {
            margin-top: rem(15);
        }
    }
    &__items {
        width: 100%;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column; // needs to be checked on UI.
        margin-bottom: rem(20);

        &-top {
            display: flex;
            margin-bottom: rem(15);
            justify-content: space-between;
            font: normal normal bold $font-size-17/rem(26) Helvetica;
            letter-spacing: rem(0.34);
            color: $dark-gray;

            &-date {
                display: flex;
                flex-direction: column;
            }

            &-price {
                align-self: end;
                font-weight: 300;

                @include mobile-only {
                    align-self: flex-start;
                }
            }

            @include mobile-only {
                flex-direction: column;
                justify-content: unset;
                font: normal normal bold $font-size-13/rem(20) Helvetica;
                letter-spacing: rem(0.26);
                color: $dark-gray;
            }

            @include tablet-only {
                font: normal normal bold $font-size-mob-h6/rem(23) Helvetica;
                letter-spacing: rem(0.3);
            }
        }

        &-content {
            background: $white 0% 0% no-repeat padding-box;
            padding: rem(0) rem(30) rem(30) rem(25);
            border-left: rem(5) solid $sky-blue;

            &--main {
                display: flex;
                justify-content: space-between;

                &-status {
                    padding: rem(5) rem(15);
                    background-color: $gray;
                    color: $white;
                    font: normal normal bold $font-size/rem(26) Helvetica;
                    letter-spacing: rem(0.32);
                    text-transform: capitalize;

                    @include mobile-only {
                        padding: rem(0) rem(15);
                        font: normal normal bold $font-size-13/rem(26) Helvetica;
                        letter-spacing: rem(0.26);
                        color: $white;
                    }

                    @include tablet-only {
                        padding: rem(1) rem(15);
                        font: normal normal bold $font-size-mob-h6/rem(26) Helvetica;
                        letter-spacing: rem(0.3);
                    }
                }

                &-edd {
                    font: normal normal normal $font-size-mob-h6/rem(26) Helvetica;
                    letter-spacing: rem(0.3);
                    color: $black;
                    margin-right: rem(25);

                    @include mobile-only {
                        display: none;
                    }

                    @include tablet-only {
                        margin-right: rem(0);
                    }
                }

                &-tracking {
                    font: normal normal normal $font-size-mob-h6/rem(26) Helvetica;
                    letter-spacing: rem(0.3);
                    color: $black;
                    margin-right: rem(25);

                    & > a {
                        font: normal normal bold $font-size-mob-h6/rem(26) Helvetica;
                        color: $blue;
                    }

                    @include mobile-only {
                        display: none;
                    }

                    @include tablet-only {
                        margin-right: rem(0);
                    }
                }
            }

            &--title {
                padding: rem(20) rem(0);
                border-bottom: rem(1) solid $border-gray;
                font: normal normal bold $font-size-24/rem(29) Helvetica;
                letter-spacing: rem(0);
                color: $black;

                @include tablet-only {
                    padding: rem(15) rem(0);
                }

                @include mobile-only {
                    font: normal normal bold $font-size-mob-h5/rem(22) Helvetica;
                    letter-spacing: rem(0.36);
                    color: $black;
                    padding: rem(15) rem(0);
                }
            }

            &--header {
                display: grid;
                grid-template-columns: 20% 35% 35% 10%;
                padding: rem(20) rem(0);
                border-bottom: rem(1) solid $border-gray;
                font: normal normal bold $font-size-17/rem(26) Helvetica;
                letter-spacing: rem(0.34);
                color: $dark-gray;

                &--item {
                    margin-right: rem(20);
                }

                @include tablet-only {
                    grid-template-columns: 20% 32% 32% 15%;
                    padding: rem(15) rem(0);
                    font: normal normal bold $font-size-mob-h6/rem(23) Helvetica;
                    letter-spacing: rem(0.3);
                }

                @include mobile-only {
                    display: none;
                }
            }

            &--data {
                &-row {
                    display: grid;
                    grid-template-columns: 20% 35% 35% 10%;
                    padding: rem(20) rem(0);
                    border-bottom: rem(1) solid $border-gray;
                    text-align: left;
                    font: normal normal 300 $font-size-17/rem(26) Helvetica;
                    letter-spacing: rem(0.34);
                    color: $dark-gray;

                    &--first {
                        margin-right: rem(20);

                        @include mobile-only {
                            padding-right: rem(0);
                            font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
                            letter-spacing: rem(0.3);
                            color: $dark-gray;
                            margin-bottom: rem(15);
                        }
                    }

                    & > span {
                        margin-right: rem(20);
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    @include tablet-only {
                        grid-template-columns: 20% 32% 32% 15%;
                        padding: rem(15) rem(0);
                        font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
                        letter-spacing: rem(0.3);
                        color: $dark-gray;
                        border: none;
                    }
                }

                &-quantity {
                    width: 100%;
                    border: none;
                    background-color: $white;

                    @include mobile-only {
                        font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
                        letter-spacing: rem(0.3);
                        color: $dark-gray;
                        margin-bottom: rem(10);
                    }
                }

                @include mobile-only {
                    display: none;
                }

            }

            @include tablet-only {
                padding: rem(15) rem(15) rem(0) rem(10);
            }

            @include mobile-only {
                padding: rem(15) rem(15) rem(0) rem(10);
            }

        }

        &-mobile {
            padding-top: rem(5);

            &-row {
                display: flex;
                flex-direction: column;
                border-top: rem(1) solid $border-gray;
                padding-top: rem(10);

                &--heading {
                    font: normal normal bold $font-size-mob-h6/rem(23) Helvetica;
                    letter-spacing: rem(0.3);
                    color: $dark-gray;
                }

                &--value {
                    font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
                    letter-spacing: rem(0.3);
                    color: $dark-gray;
                    margin-bottom: rem(15);
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                &--tracking {
                    font: normal normal normal $font-size-mob-h6/rem(26) Helvetica;
                    letter-spacing: rem(0.3);
                    color: $black;
                    margin-bottom: rem(15);

                    & > span > a {
                        font: normal normal bold $font-size-mob-h6/rem(26) Helvetica;
                        letter-spacing: rem(0.3);
                        color: $blue;
                    }
                }

                &--edd {
                    font: normal normal normal $font-size-mob-h6/rem(26) Helvetica;
                    letter-spacing: rem(0.3);
                    color: $black;
                }

                &:first-of-type {
                    border-top: none;
                    padding-top: rem(0);
                }

            }

            @include tablet-only {
                display: none;
            }

            @include desktop-large {
                display: none;
            }
        }

        @include tablet-only {
            margin-bottom: rem(45);
        }
    }

    &__reorder {
        width: 50%;
        padding: rem(0);
        border: none;
        text-align: left;
        text-decoration: underline;
        font: normal normal bold $font-size-17/rem(26) Helvetica;
        letter-spacing: rem(0.34);
        background-color: $white;
        color: $blue;
        display: block;

        @include tablet-mobile-both {
            font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
            letter-spacing: rem(0.3);
        }

        &:disabled {
            color: $medium-gray;
            pointer-events: none;
        } 

    }

    &__no-results{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $blue-v3;
        margin-top: rem(40);
        height: 34vh;

        & > h2 {
            font: normal normal bold $font-size-large/rem(57) Helvetica;
            letter-spacing: rem(0.96);

            @include tablet-only {
                font: normal normal bold $font-size-mob-h2/rem(57) Helvetica;
                letter-spacing: rem(0.64);
            }

            @include mobile-only {
                font: normal normal bold $font-size-24/rem(28.8) Helvetica;
                letter-spacing: rem(0.64);
            }
        }

        & > p {
            font: normal normal 300 $font-size-mob-h4/rem(33) Helvetica;
            letter-spacing: rem(0.44);
            color: $dark-gray;
            margin-bottom: rem(0);

            @include tablet-only {
                font: normal normal 300 $font-size-mob-h5/rem(22.5) Helvetica;
                letter-spacing: rem(0.44);
            }

            @include mobile-only {
                font: normal normal 300 $font-size-mob-h6/rem(22.5) Helvetica;
                letter-spacing: rem(0.44);
            }
        }
    }

    @include tablet-only {
        margin: rem(50) rem(30) !important;
        width: calc(100% - rem(60)) !important;
    }

    @include mobile-only {
        margin: rem(0) rem(15) rem(15) rem(15)  !important;
        width: calc(100% - rem(30)) !important;
    }
}

.loading-height {
    height: 40vh;

    @include tablet-mobile-both {
        height: 50vh;
    }
}

.orderhistory__item .orderhistory__item-content {
    @include desktop-large {
        &:nth-of-type(2) {
            padding-top: rem(30);
        }
    }

    @include tablet-only {
        &:nth-of-type(n+2) {
            .orderhistory__item-content--data {
                border-bottom: .0625rem solid $border-gray;
            }
        }

        &:nth-of-type(n+3) {
            padding-top: rem(30);
        }

        &:last-of-type {
            .orderhistory__item-content--data {
                border-bottom: none;
            }
        }
    }

    @include mobile-only {
        &:nth-of-type(n+2) {
            .orderhistory__item-mobile {
                border-bottom: .0625rem solid $border-gray;
            }
        }

        &:nth-of-type(n+3) {
            padding-top: rem(15);
        }

        &:last-of-type {
            .orderhistory__item-mobile {
                border-bottom: none;
            }
        }
    }
}

.orderhistory__search{
    form {
        display: flex;
    }
}