<ul class="recently-ordered">
    {{!-- <li class="recently-ordered-list">
        <div class="product-name">Needle Master</div>
        <div class="product-code">NM-610L-0421</div>
        <a href="#">Reorder</a>
    </li>
    <li class="recently-ordered-list">
        <div class="product-name">Needle Master</div>
        <div class="product-code">NM-610L-0421</div>
        <a href="#">Reorder</a>
    </li>
    <li class="recently-ordered-list">
        <div class="product-name">Needle Master</div>
        <div class="product-code">NM-610L-0421</div>
        <a href="#">Reorder</a>
    </li>
    <li class="recently-ordered-list">
        <div class="product-name">Needle Master</div>
        <div class="product-code">NM-610L-0421</div>
        <a href="#">Reorder</a>
    </li> --}}
</ul>