.recently-ordered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: rem(15) 0;
    list-style: none;
    letter-spacing: rem(0.44);
    font: normal normal 300 $font-size-mob-h4/rem(33) Helvetica;
    color: $dark-gray;

    &-list {
        flex: 1 0 21%;
        border-left: rem(5) solid $sky-blue;
        padding: rem(30);
        background-color: $white;
        margin-right: rem(30);
        margin-bottom: rem(15);

        .product-name {
            font-weight: bold;
        }

        a {
            font: $font-size-regular-p;
            letter-spacing: 0;
            color: $blue;
        }
    }
    li:nth-of-type(1n+5) {display: none;} 
    @include desktop-large {
        li:nth-child(4n) {
            margin-right: 0;
        }
    }

    @include tablet-only {
        padding: rem(15) 0;

        &-list {
            flex: 1 0 30%;
            margin-right: rem(23);
            padding: rem(15);
        }
        li:nth-of-type(1n+4) {display: none;} 
        li:nth-child(3n) {
            margin-right: 0;
        }
    }

    @include mobile-only {
        padding: rem(16) 0;

        &-list {
            flex: 1 0 100%;
            padding: rem(15);
        }
    }
}