<div class="productcollection__pagination">
    <a class="productcollection__pagination-arrow productcollection__pagination-arrow--prev productcollection__pagination-arrow--inactive"
        aria-label="Show previous">
        <span class="productcollection__pagination-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="10.261" height="17.71" viewBox="0 0 10.261 17.71"
                style="transform: rotate(180deg);">
                <g id="Icon_-_Carrot" data-name="Icon - Carrot" transform="translate(0 17.71) rotate(-90)">
                    <path id="Path_3853" data-name="Path 3853"
                        d="M10.707,12.76,1.852,3.9,3.245,2.5,10.707,9.96,18.168,2.5,19.561,3.9Z"
                        transform="translate(-1.852 -2.499)" fill="#141414" />
                </g>
            </svg>
        </span>
    </a>
    <a class="productcollection__pagination-button productcollection__pagination-button--current">
        <div class="productcollection__pagination-button-title">
            1
        </div>
    </a>
    <a class="productcollection__pagination-button"
        href="/content/venia/us/en/products.html?wcmmode=disabled&amp;category_uid=MzY%3D&amp;page=2"
        title="Go to page 2">
        <div class="productcollection__pagination-button-title">
            2
        </div>
    </a>
    <a class="productcollection__pagination-button" {{!--
        href="/content/venia/us/en/products.html?wcmmode=disabled&amp;category_uid=MzY%3D&amp;page=3" --}}
        href="http://localhost:8080/components/organism/parsed/product-list-component/product-list-component.html?wcmmode=disabled&amp;category_uid=MzY%3D&amp;page=3"
        title="Go to page 3">
        <div class="productcollection__pagination-button-title">
            3
        </div>
    </a>
    <a class="productcollection__pagination-button productcollection__pagination-button--inactive">
        <div class="productcollection__pagination-button-title">…</div>
    </a>
    <a class="productcollection__pagination-button"
        href="/content/venia/us/en/products.html?wcmmode=disabled&amp;category_uid=MzY%3D&amp;page=12"
        title="Go to page 12">
        <div class="productcollection__pagination-button-title">
            12
        </div>
    </a>
    <a class="productcollection__pagination-arrow productcollection__pagination-arrow--next" aria-label="Show next"
        href="/content/venia/us/en/products.html?wcmmode=disabled&amp;category_uid=MzY%3D&amp;page=2" title="Show next">
        <span class="productcollection__pagination-icon last-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="10.261" height="17.71" viewBox="0 0 10.261 17.71">
                <g id="Icon_-_Carrot" data-name="Icon - Carrot" transform="translate(0 17.71) rotate(-90)">
                    <path id="Path_3853" data-name="Path 3853"
                        d="M10.707,12.76,1.852,3.9,3.245,2.5,10.707,9.96,18.168,2.5,19.561,3.9Z"
                        transform="translate(-1.852 -2.499)" fill="#141414" />
                </g>
            </svg>
        </span>
    </a>
</div>