.productcollection__pagination {
  display: flex;
  grid-column: 2;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: $dark-gray;
    width: rem(30);
    margin: rem(0) rem(3);
  }
}

.productcollection__pagination-arrow {
  grid-row-start: 1;
}

.productcollection__pagination-icon {
  display: flex;
  justify-content: center;
}

.productcollection__pagination-arrow.productcollection__pagination-arrow--prev
  .productcollection__pagination-icon::before {
}

.productcollection__pagination-arrow.productcollection__pagination-arrow--prev.productcollection__pagination-arrow--inactive
  .productcollection__pagination-icon::before {
}

.productcollection__pagination-arrow.productcollection__pagination-arrow--next
  .productcollection__pagination-icon::before {
}

.productcollection__pagination-arrow.productcollection__pagination-arrow--next.productcollection__pagination-arrow--inactive
  .productcollection__pagination-icon::before {
}

.productcollection__pagination-button {
  grid-row-start: 1;
}

.productcollection__pagination-button-title {
  padding: 0.1rem 0.4rem;
  display: flex;
  justify-content: center;
}

.productcollection__pagination-button--current
  .productcollection__pagination-button-title {
  color: $white;
  background: $blue;
  display: flex;
  justify-content: center;
}
