<div class="shop-category container-with-padding">
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">Surgical Endoscopic Devices</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Endoscopic Devices</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list"><a href="#">Accessories &amp; Endocuff Vision</a></li>
                            <li class="shop-category-l3-list"><a href="#">ERCP</a></li>
                            <li class="shop-category-l3-list"><a href="#">Foreign Body Retrieval</a></li>
                            <li class="shop-category-l3-list"><a href="#">Gynecology- LESS (Laparoendoscopic Single Site)</a></li>
                            <li class="shop-category-l3-list"><a href="#">EPCR</a></li>
                            <li class="shop-category-l3-list"><a href="#">Hemostasis</a></li>
                            <li class="shop-category-l3-list"><a href="#">Infection Prevention Solutions</a></li>
                            <li class="shop-category-l3-list"><a href="#">Luminal Patency</a></li>
                            <li class="shop-category-l3-list"><a href="#">Single-use Endoscopes</a></li>
                            <li class="shop-category-l3-list"><a href="#">Tissue Biopsy</a></li>
                            <li class="shop-category-l3-list"><a href="#">View All Surgical Endoscopic Devices</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">Medical Devices</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>ENT Endoscopes</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">Flexible ENT Endoscopes</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Tissue Management</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Generators</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">Accessory Devices</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Energy related Devices</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list"><a href="#">Handpieces</a></li>
                            <li class="shop-category-l3-list"><a href="#">Laparoendoscopic Single Site</a></li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Gynecology-Tissue Extraction</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2-a"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /><a href="">Respiratory Endoscopic Devices</a></div>
                    {{!-- <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Respiratory Endoscopic Devices</span></div> --}}
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">EUS/EBUS</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2-a"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /><a href="">Urology Devices</a></div>
                    {{!-- <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Urology Devices</span></div> --}}
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">Stone Management &amp; Lithotripsy</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">Equipment Accessories</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Cables and Power Cords</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">Connector Cables</li>
                            <li class="shop-category-l3-list">Communication Cable</li>
                            <li class="shop-category-l3-list">Power Cords</li>
                            <li class="shop-category-l3-list">Connector Cables</li>
                            <li class="shop-category-l3-list">Communication Cable</li>
                            <li class="shop-category-l3-list">Power Cords</li>
                            <li class="shop-category-l3-list">View All Equipment Accessories</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Adapters &amp; Expansion Kits for Adapters</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Carts &amp; Workstations Accessories</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Footswitchs &amp; Foot holders</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Footswitches &amp; Foot holders</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Other Ancillary Devices</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Transducers</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">Infection Prevention</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Disinfectant &amp; Detergents</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">Cleaning Detergent</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Cleaning Brushes, Wire Brushes</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1" style="border-bottom: 0px; padding-bottom: 0px;">
            <span class="l1-label">Polyp Traps</span>
            <a class="view-all" href="#">View All</a>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">InfectionPrevention</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Disinfectant&amp;Detergents</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">CleaningDetergent</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>CleaningBrushes,WireBrushes</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">MedicalDevices</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>ENTEndoscopes</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">FlexibleENTEndoscopes</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Generators</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>TissueManagement</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">AccessoryDevices</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>EnergyrelatedDevices</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">Handpieces</li>
                            <li class="shop-category-l3-list">LaparoendoscopicSingleSite</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Gynecology-TissueExtraction</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>RespiratoryEndoscopicDevices</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">EUS/EBUS</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>UrologyDevices</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">StoneManagement&amp;Lithotripsy</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">EquipmentAccessories</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>CablesandPowerCords</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">CommunicationCable</li>
                            <li class="shop-category-l3-list">ConnectorCables</li>
                            <li class="shop-category-l3-list">PowerCords</li>
                        </ul>
                    </div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Adapters&amp;ExpansionKitsforAdapters</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Carts&amp;WorkstationsAccessories</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Footswitchs&amp;Footholders</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Footswitches&amp;Footholders</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>OtherAncillaryDevices</span></div>
                </li>
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>Transducers</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1">
            <span class="l1-label">SurgicalEndoscopicDevices</span>
            <a class="view-all" href="#">View All</a>
        </div>
        <div class="shop-category-l2">
            <ul class="shop-category-l2-ul">
                <li class="shop-category-l2-list">
                    <div class="align-l2"><img src="/assets/icons/Arrow_Blue.svg" alt="l2-arrow" /> <span>EndoscopicDevices</span></div>
                    <div class="shop-category-l3">
                        <ul>
                            <li class="shop-category-l3-list">Accessories&amp;EndocuffVision</li>
                            <li class="shop-category-l3-list">EPCR</li>
                            <li class="shop-category-l3-list">ERCP</li>
                            <li class="shop-category-l3-list">ForeignBodyRetrieval</li>
                            <li class="shop-category-l3-list">Hemostasis</li>
                            <li class="shop-category-l3-list">InfectionPreventionSolutions</li>
                            <li class="shop-category-l3-list">Gynecology-LESS(LaparoendoscopicSingleSite)</li>
                            <li class="shop-category-l3-list">LuminalPatency</li>
                            <li class="shop-category-l3-list">Single-useEndoscopes</li>
                            <li class="shop-category-l3-list">TissueBiopsy</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-category-block">
        <div class="shop-category-l1" style="border-bottom: 0px; padding-bottom: 0px;">
            <span class="l1-label">PolypTraps</span>
            <a class="view-all" href="#">View All</a>
        </div>
    </div>
</div>