.l2-l3-category-filter input[type='radio'] {
  display: none;
}
.category-wrapper-li{
    list-style: none;
    margin-bottom: rem(10);
}
.category-wrapper-ul{
    padding-left: 0;
}
.l2-l3-category-filter label {
  padding-left: rem(8);
  font-family: Helvetica;
  font-size: rem(18);
  cursor: pointer;
  display: flex;
  flex-direction: column;

  text-align: left;
  font: $font-size-regular-p;
  letter-spacing: 0.34px;
  color: $black;
  opacity: 1;
  // width: max-content;
  padding-right: rem(10);
}
.l2-l3-category-filter input[type='radio']:checked + label {
  color: $blue;
  font-weight: bold;
  width: rem(4);
  width: fit-content;
  list-style: none;
  border-left: rem(4) solid $blue;
  padding-left: rem(4);
}


