<header class="experiencefragment">
    <div id="experiencefragment-43d7cb9770" class="cmp-experiencefragment cmp-experiencefragment--header">
        <div id="olympus-header-container" class="cmp-container">
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                <div class="image aem-GridColumn aem-GridColumn--default--12">
                    <div data-cmp-src="/content/experience-fragments/olympus/us/en/site/header/master/_jcr_content/root/image.coreimg{.width}.svg/1667877825539/logo.svg"
                        id="image-86e0411369"
                        data-cmp-data-layer="{&quot;image-86e0411369&quot;:{&quot;@type&quot;:&quot;olympus/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2022-11-08T03:23:45Z&quot;}}"
                        data-cmp-hook-image="imageV3" class="cmp-image" itemscope=""
                        itemtype="http://schema.org/ImageObject">
                        <img src="/content/experience-fragments/olympus/us/en/site/header/master/_jcr_content/root/image.coreimg.svg/1667877825539/logo.svg"
                            loading="lazy" class="cmp-image__image" itemprop="contentUrl" alt="logo">
                    </div>
                </div>
                <div class="navigation aem-GridColumn aem-GridColumn--default--12">
                    <nav id="navigation-6e5aac532e" class="cmp-navigation" itemscope=""
                        itemtype="http://schema.org/SiteNavigationElement"
                        data-cmp-data-layer="{&quot;navigation-6e5aac532e&quot;:{&quot;@type&quot;:&quot;olympus/components/navigation&quot;,&quot;repo:modifyDate&quot;:&quot;2022-11-08T02:15:03Z&quot;}}">
                        <ul class="cmp-navigation__group">
                            <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active"
                                data-cmp-data-layer="{&quot;navigation-6e5aac532e-item-3b065e99e1&quot;:{&quot;@type&quot;:&quot;olympus/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-10-27T06:11:36Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;/content/olympus/us/en/products.html&quot;}}">
                                <a aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link"
                                    href="/content/olympus/us/en/products.html">Catalog Page</a>
                            </li>
                            <li class="cmp-navigation__item cmp-navigation__item--level-0"
                                data-cmp-data-layer="{&quot;navigation-6e5aac532e-item-8673bfd21f&quot;:{&quot;@type&quot;:&quot;olympus/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-11-07T14:53:22Z&quot;,&quot;dc:title&quot;:&quot;My Olympus&quot;,&quot;xdm:linkURL&quot;:&quot;/content/olympus/us/en/myolympus.html&quot;}}">
                                <a data-cmp-clickable="" class="cmp-navigation__item-link"
                                    href="/content/olympus/us/en/myolympus.html">My Olympus</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="text aem-GridColumn aem-GridColumn--default--12">
                    <div data-cmp-data-layer="{&quot;text-6bf008b8e9&quot;:{&quot;@type&quot;:&quot;olympus/components/text&quot;,&quot;repo:modifyDate&quot;:&quot;2022-11-07T14:37:22Z&quot;,&quot;xdm:text&quot;:&quot;<p><a href=\&quot;https://www.olympus.com\&quot;>Education</a> <a href=\&quot;https://www.olympus.com\&quot;>Service</a>&amp;nbsp;|&amp;nbsp;<img src=\&quot;/content/dam/olympus/User.svg\&quot; alt=\&quot;\&quot;></p>\r\n&quot;}}"
                        id="text-6bf008b8e9" class="cmp-text">
                        <p><a href="https://www.olympus.com">Education</a> <a
                                href="https://www.olympus.com">Service</a>&nbsp;|&nbsp;<img src="" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--cq{"decorated":true,"type":"olympus/components/experiencefragment","path":"/content/olympus/us/en/products/jcr:content/root/experiencefragment-header","structurePath":"/conf/olympus/settings/wcm/templates/catalog-page/structure/jcr:content/root/experiencefragment-header","selectors":null,"servlet":"Script /libs/core/wcm/components/experiencefragment/v2/experiencefragment/experiencefragment.html","totalTime":23,"selfTime":23}-->
</header>