<sly
  data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
  data-sly-use.checkout="com.olympus.oca.core.models.CheckoutModel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
/>
<div id="${component.id}" class="checkoutpage__root">
  <div id="root" class="checkoutpage__body">
    <checkout-page
      disclaimertext="${checkout.disclaimerText}"
      termsofusetext="${checkout.termsofuseText}"
      termsofuselink="${checkout.termsofusePath}"
      checkoutpagepath="${checkout.checkoutPagePath}"
      shoppagepath="${checkout.shopPagePath}"
      paymentmethodtext="${checkout.paymentMethodText}"
      paymentmethoddesc="${checkout.paymentMethodDesc}"
      paywithcreditcard="${checkout.payWithCreditCard}"
      payviainvoice="${checkout.payViaInvoice}"
      ></checkout-page
    >
  </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = true}" />
