<div class="searchbar__form-container">
    <form class="searchbar__form" autocomplete="off" _lpchecked="1" action="/content/venia/us/en/search.html">
        <span class="searchbar__fields" style="--iconsBefore:1; --iconsAfter:0;">
            <span class="searchbar__input-container">
                <input class="searchbar__input" name="search_query" value="" role="searchbox"
                    placeholder="Search all devices">
            </span>
            <span class="searchbar__input-before">
                <span class="searchbar__search-icon">
                    <img src="/assets/icons/Search.svg" alt="search" />
                </span>
            </span>
            <button class="searchbar__trigger">
                <span class="searchbar__trigger-icon"></span> Search</button>
        </span>
    </form>
</div>