<div
  data-sly-use.accountPopupModel="com.olympus.oca.core.models.AccountPopupModel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
>
  <div class="dropdown navigation-select" id="toggleMyDropdown">
    <div class="dropdown-arrow">
      <button id="toggleMyForm" class="dropbtn"> </button>
      <img src="/content/dam/olympus/icon/Arrow_Blue.svg" alt="Blue arrow" />
    </div>
    <div id="myDropdown" class="dropdown-content">
    </div>
  </div>
  <sly
    data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
  />
  <sly data-sly-call="${clientLib.all @ categories='olympus.vendor'}" />
  <sly data-sly-call="${clientLib.all @ categories='olympus.site'}" />
  <div id="showAccouts" class="modal changing-account-popup" tabindex="-1">
    <div
      class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-lg"
    >
      <div class="modal-content">
        <div class="modal-header" id="myHeader">
          <h5 class="modal-title">${accountPopupModel.title}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            onclick="closePopupAccounts()"
          ></button>
        </div>
        <div class="modal-body">
          <p class="text-dark-grey" id="myGreyText">${accountPopupModel.description}</p>
          <div class="row">
            <div class="col-md-3 selecttext-column">
              <span class="font-weight-500">Selected Account:</span>
            </div>
            <div class="col-md-9 select-dropdown-column">
              <div class="dropdown navigation-select" id="toggleMyDropdownModal">
                <div class="dropdown-arrow">
                  <button id="toggleMyFormModal" class="dropbtnModal"> </button>
                  <img src="/content/dam/olympus/icon/Arrow_Blue.svg" alt="Blue arrow" />
                </div>
                <div id="myDropdownModal" class="dropdown-content-modal">
                </div>
              </div>
            </div>
          </div>
          <div class="form-check model-form-check-wrapper" id="myCheckBox">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="showAccoutsPopup"
            />
            <label
              class="form-check-label text-dark-grey"
              for="showAccoutsPopup"
            >
              Do not show this message again
            </label>
          </div>
        </div>
        <div class="modal-footer" id="myButton">
          <button
            type="button"
            class="btn btn-primary"
            onclick="confirmPopupAccounts()"
          >
            Confirm
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            onclick="closePopupAccounts()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<sly
  data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"
></sly>
