@import "../../site/_mixins.scss";
@import "../../site/_variables.scss";
@import "../../site/_base.scss";

.cartpage-wrapper {
  margin: rem(60);

  @include desktop-large {
    .cartpage-wrapper-main {
      display: flex;
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    @include desktop-large {
      flex: 1 0 65%;
      margin-right: rem(30);
    }
  }

  @include tablet-only {
    margin: rem(30);
    &-inner {
      flex-direction: column;
    }
  }

  @include mobile-only {
    margin: rem(15);
    &-inner {
      flex-direction: column;
    }
  }

  .productcartpanel {
    background-color: $white;
    border-left: rem(5) solid $sky-blue;
    display: inline-grid;
    letter-spacing: 0;
    margin-bottom: rem(30);
    padding: rem(30) rem(30) rem(30) rem(25);
    // pointer-events: none;
    text-decoration: none !important;
    width: inherit;

    // @include desktop-large {
    //   flex: 1 0 65%;
    //   margin-right: rem(30);
    // }

    @include tablet-only {
      padding: rem(15);
    }

    @include mobile-only {
      padding: rem(15);
    }

    .productcartpanel-baseproduct {
      border-bottom: rem(1) solid $border-gray;
      color: $black-v2;
      font: $font-size-bold-h4;
      letter-spacing: 0;
      padding-bottom: rem(20);

      @include desktop-mid {
        font-size: $font-size-mob-h4;
        font-weight: bold;
      }

      @include mobile-only {
        font: normal normal bold $font-size-mob-h5/rem(22) Helvetica;
        letter-spacing: rem(0.36);
        color: $black-v2;
      }
    }

    .productcartpanel-variant {
      &-header {
        border-bottom: rem(1) solid $border-gray;
        display: grid;
        grid-template-columns: 22% 22% 15% 15% auto;
        padding: rem(20) 0;

        @include mobile-only {
          display: none;
        }

        &-item {
          color: $dark-gray;
          font: $font-size-bold-p;
          letter-spacing: rem(0.34);
          text-align: left;
          display: grid;

          @include desktop-mid {
            font: normal normal bold $font-size-mob-h6/rem(23) Helvetica !important;
          }
        }
      }

      &-data {
        padding: rem(20) 0 0;

        @include mobile-only {
          display: none;
        }

        &-row {
          display: grid;
          grid-template-columns: 22% 22% 15% 15% auto;
          margin-bottom: rem(20);
        }

        &-item {
          color: $gray;
          font: $font-size-regular-p;
          letter-spacing: rem(0.34);
          overflow: hidden;
          padding-right: rem(10);
          text-align: left;
          text-overflow: ellipsis;
          word-break: break-word;

          @include desktop-large {
            align-self: center;
          }

          @include desktop-mid {
            align-self: center;
          }

          @include tablet-only {
            align-self: center;
          }

          .list-price {
            text-decoration: line-through;
            margin-right: rem(10);
          }

          .contract-price {
            color: $blue;
            font-weight: bold;
          }

          @include desktop-mid {
            font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica !important;
          }
        }
      }

      &-mobile {
        display: none;

        @include mobile-only {
          display: block;
        }

        &-row {
          display: grid;
          margin-bottom: rem(15);
          width: 100%;

          &-title {
            font: normal normal bold $font-size-mob-h6/rem(23) Helvetica;
            letter-spacing: rem(0.3);
            color: $dark-gray;
            padding-top: rem(10);
          }

          &:nth-child(n + 2) {
            border-top: rem(1) solid $border-gray;
          }
        }

        &-data-item {
          font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
          letter-spacing: rem(0.3);
          color: $dark-gray;
          padding-top: 0.1875rem;

          .list-price {
            text-decoration: line-through;
            margin-right: rem(10);
          }

          .contract-price {
            color: $blue;
            font-weight: bold;
          }
        }
      }
    }

    .productcartpanel-variant-mobile-row-actions {
      display: flex;

      &-price {
        padding-top: rem(10);
      }
    }

    .productcartpanel__item-quantity {
      cursor: pointer;
      padding-right: 0;
      pointer-events: visible;
      width: 90%;

      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none !important; 
          margin: 0 !important; 
      }

      input[type=number] {
          -moz-appearance:textfield !important;
      }

      @include mobile-only {
        width: 30%;

        span {
          display: block;
        }
      }

      &-value {
        border: rem(1) solid $border-gray;
        color: $gray;
        font: $font-size-regular-p;
        letter-spacing: rem(0.34);
        padding: rem(12) rem(15);
        text-align: left;
        width: inherit;

        // width: 64%;

        @include mobile-only {
          width: 100%;
          display: block;
        }
      }
    }

    .productcartpanel__item-actions {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include mobile-only {
        padding-top: rem(30);
        margin-left: rem(8);
      }
    }

    .productcartpanel__item-button {
      padding: rem(0);
      border: none;
      background-color: $white;
      
      &-content {
        display: flex;
        align-items: center;

        img {
          width: rem(35);
          height: rem(30);

          @include mobile-only {
            width: rem(30);
            margin-left: rem(5);
          }
        }

        span {
          text-decoration: underline;
          font: $font-size-regular-p;
          letter-spacing: rem(0);
          color: $blue;

          @include desktop-mid {
            font: normal normal 300 $font-size-mob-h6/rem(26) Helvetica !important;
          }

          @include mobile-only {
            font: normal normal 300 $font-size-mob-h6/rem(26) Helvetica;
          }
        }
      }
    }
  }
}

.cartpage__title {
  font: normal normal bold $font-size-large/rem(57) Helvetica;
  letter-spacing: rem(0.96);
  color: $blue-v3;
  margin-bottom: rem(40);

  @include tablet-mobile-both {
    font: normal normal bold $font-size-mob-h2/rem(38) Helvetica !important;
    letter-spacing: rem(0.64);
  }

  @include mobile-only {
    margin-bottom: rem(20);
  }
}

.page-loading {
  height: 65vh;


  @include tablet-mobile-both {
    height: 78vh;
  }
}

.product-desktop {
  @include mobile-only {
    display: none !important;
  }
}

.product-mobile {
  @include desktop-large {
    display: none !important;
  }

  @include desktop-mid {
    display: none !important;
  }

  @include tablet-only {
    display: none !important;
  }
}

.cartpage__no-results {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue-v3;
  margin-top: rem(100);
  height: 56vh;

  & > h2 {
      font: normal normal bold $font-size-large/rem(57) Helvetica;
      letter-spacing: rem(0.96);

      @include tablet-only {
          font: normal normal bold $font-size-mob-h2/rem(57) Helvetica;
          letter-spacing: rem(0.64);
      }

      @include mobile-only {
          font: normal normal bold $font-size-24/rem(28.8) Helvetica;
          letter-spacing: rem(0.64);
      }
  }

  & > a {
    font: normal normal 300 $font-size-mob-h4/rem(33) Helvetica;
    letter-spacing: rem(0.44);
    color: $blue !important;
    cursor: pointer;
    text-decoration: underline;
    
      @include tablet-only {
          font: normal normal 300 $font-size-mob-h5/rem(22.5) Helvetica;
          letter-spacing: rem(0.44);
      }

      @include mobile-only {
          font: normal normal 300 $font-size-mob-h6/rem(22.5) Helvetica;
          letter-spacing: rem(0.44);
      }
  }

  @include tablet-mobile-both {
    height: 74vh;
  }
}