@import "../../../site/_mixins.scss";
@import "../../../site/_variables.scss";
@import "../../../site/base.scss";

.shippingInfo{
    display: flex;
    width: 100%;
    height: auto;
    padding: rem(10) rem(0) rem(10) rem(10);
    &__shipping{
        width: 50%;
        height:auto;
        padding: rem(10);
        margin: rem(6) rem(24) rem(6) rem(0);
        
    }
    &__payment{
    width: 50%;
    height:auto;
    padding: rem(10);
    margin: rem(6) rem(0) rem(6) rem(6);
}
}

.MuiBox-root {
    background-color: $white;
    padding: rem(15);
  }

  .shippingInfo__shipping-title, .shippingInfo__payment-title{
    font: normal normal 700 $font-size-small2 Helvetica !important;
    border-bottom: rem(1) solid $border-gray;
    padding: rem(10);
  }

  .shippingInfo__shipping-desc, .shippingInfo__payment-desc{
    padding: rem(10);
  }

  .shippingInfo__shipping-desc, .shippingInfo__payment-desc {
    letter-spacing: 0.34px;
    color: #444444;

    &-company {
      font: normal normal bold 17px/26px Helvetica;
      display: block;
    }
  }


  @include mobile-only{
    .shippingInfo{
      flex-direction: column;
      padding: rem(10) rem(0);


      &__shipping{
        margin: rem(0);
        margin-bottom: rem(16);
        width: 100%;
      }

      &__payment{
        margin: rem(0);
        margin-bottom: rem(16);
        width: 100%;
      }
    }
  }

  @include tablet-only{
    .shippingInfo{
      width: 80vw;
    }
  }