.productcollection__root {
    display: flex;

    @include tablet-mobile-both {
        flex-direction: column;
    }
}

.productcollection__listing {
    width: 100%;
}

.productcollection__results-count {
    display: none;
}

.productcollection__filters {
    flex: 1 0 25%;
    margin-right: rem(30);

    @include tablet-mobile-both {
        margin: 0;
        // display: none;
    }

    // @include mobile-only {
    //     display: none;
    // }
}

.productcollection__items {}

.productcollection__sort {}

.productcollection__pagination {}

.productcollection__no-results {
    display: flex;
    margin-top: rem(80);
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-title {
        font: $font-size-bold-h2;
        letter-spacing: rem(0.96);
        color: $blue-v3;

        @include tablet-only {
            font: normal normal bold $font-size-mob-h2/rem(57) Helvetica;
            letter-spacing: rem(0.64);
        }

        @include mobile-only {
            font: normal normal bold $font-size-24/rem(28.8) Helvetica;
            letter-spacing: rem(0.64);
        }
    }

    &-text {
        font: normal normal 300 $font-size-mob-h4/rem(33) Helvetica;
        letter-spacing: rem(0.44);
        color: $dark-gray;
        margin-bottom: rem(0);

        @include tablet-only {
            font: normal normal 300 $font-size-mob-h5/rem(22.5) Helvetica;
            letter-spacing: rem(0.44);
        }

        @include mobile-only {
            font: normal normal 300 $font-size-mob-h6/rem(22.5) Helvetica;
            letter-spacing: rem(0.44);
        }
    }
}

.productlist.productcollection {
    margin: rem(0) rem(60) rem(40) rem(60);
    width: calc(100% - rem(120)) !important;

    @include tablet-only {
        margin: rem(0) rem(30) rem(30) rem(30);
        width: calc(100% - rem(60)) !important;
    }

    @include mobile-only {
        margin: rem(0) rem(15) rem(15) rem(15);
        width: calc(100% - rem(30)) !important;
    }
}

.category__header {
    margin-top: rem(0);
    margin-bottom: rem(30);
    font: $font-size-bold-h2;
    letter-spacing: rem(0.96);

    @include tablet-mobile-both {
        font: $font-size-bold-h3;
        letter-spacing: rem(0.64);
        margin-bottom: rem(30);
    }

    @include mobile-only {
        margin-bottom: rem(17);
    }
}

.filter-selection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin: rem(30) 0;
    font: normal normal bold 15px/26px Helvetica;
    letter-spacing: rem(0.3);
    .selected-filter {
        margin-right: rem(15);
        display: flex;
        align-items: center;
        img {
            width: rem(20);
            height: rem(20);
            cursor: pointer;
            margin-right: rem(5);
        }
    }
    .clear-all {
        color: $blue;
        cursor: pointer;
    }
    @include tablet-mobile-both {
        margin: 0 0 rem(35);
        flex-wrap: wrap-reverse;
    }
}

.productcollection__height {
    height: 58vh;

    @include tablet-only {
        height: 71vh;
    }

    @include mobile-only {
        height: 60vh;
    }
}