@import "../../site/mixins";
@import "../../site/_variables.scss";
@import "../../site/_base.scss";

.checkoutpage__root {
  margin: rem(60) rem(60);
  @include tablet-only {
    margin: rem(30) rem(30);
  }
  @include mobile-only {
    margin: rem(15) rem(15);
  }
}

.checkout-title {
  color: $blue-v3;
  font: normal normal 700 3pc/3.5625rem Helvetica;
  margin-bottom: rem(20);
  margin-top: 0;
}

.checkout-wrapper {
  @include desktop-large {
    display: flex;
  }

  &-left-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 65%;
    flex: 1 0 65%;
    @include desktop-large {
      margin-right: 1.875rem;
    }
  }
  &-right-block {
    margin-top: 2rem;

    @include desktop-large {
      margin-top: 0;
    }
  }
}

.page-loading {
  height: 65vh;


  @include tablet-mobile-both {
    height: 78vh;
  }
}
