.activate-your-account {
    @include desktop-large {
      max-width: 70% !important;
      margin: 0 auto !important;
    }
    @include tablet-only {
      max-width: 80% !important;
      margin: 0 auto !important;
    }
  
    @include mobile-only {
      max-width: 90% !important;
      margin: 0 auto !important;
    }

    &__heading {
      width: auto;
      height: auto;
      font: $font-size-bold-h2;
      letter-spacing: rem(0.96);
      padding-top: rem(60);
      color: $blue;
      opacity: 1;
      display: flex;
      justify-content: center;
      @include mobile-only {
        font: normal normal bold rem(29) / rem(35) $font-family !important;
      }
    }
  
    &__description {
      text-align: center;
      font: $blockquote-large-line-height;
      letter-spacing: rem(0.44);
      color: $dark-gray;
      opacity: 1;

      p {
        font-size: rem(22);
      }

      @include mobile-only {
        font: $blockquote-large-line-height !important;
        width: fit-content !important;
        margin: rem(0) rem(7) !important;
      }
    }
  
    .personal-information {
      padding: rem(30);
      margin-bottom: rem(28);
      width: auto;
      height: auto;
      background: $white 0% 0% no-repeat padding-box;
      border: rem(2) solid $light-gray;
      opacity: 1;

      &__title {
        text-align: left;
        font: $font-size-bold-h3;
        color: $black;
        opacity: 1;
        margin-bottom: rem(4);
        width: auto;
        @include mobile-only {
          font: $font-size-bold-h4 !important;
        }
      }

      &__details {
          display: flex;
          justify-content: space-between;
          @include mobile-only {
            display: block !important;
          }
      }

      &__confirmworkemail {
            background-color: $light-gray;
            padding: 1.875rem;
            display: flex;
            flex-wrap: nowrap;

            @include mobile-only {
              flex-direction: column;
            }
    
          &--icon {   
            padding: 0;
 
            @include mobile-only {
              width: auto;
              padding: rem(0);
            }
          }
    
          &--info {
            @include mobile-only {
              margin-top: rem(12);
              padding: 0;
            }

            &_title {
              font: normal normal bold 24px/28px $font-family;
              color: $black;
              text-align: left;
              margin-bottom: rem(10);
              white-space: break-spaces;

              & + p {
                white-space: break-spaces;
              }
            }
          }
      }

      .pi-title {
        margin-bottom: rem(12);
        text-align: left;
        font: normal normal bold 17px/26px $font-family;
        letter-spacing: rem(0.34);
        color: $dark-gray;
        opacity: 1;
      }

      .account-number {
        color: $dark-gray;
        font: normal normal 300 17px/26px $font-family;
        margin-bottom: 2px;
      }
    }

    .pi-title {
      margin-bottom: rem(12);
      text-align: left;
      font: normal normal bold 20px/24px $font-family;
      letter-spacing: rem(0.34);
      color: $black;
      opacity: 1;
    }

    .account-nickname {
      margin-bottom: rem(46);

      @include mobile-only{
        margin-bottom: rem(24);

        & > :first-child {
          margin-bottom: rem(24);
        }
      }
    }  
    .asterisk:before {
      content: '*';
      color: $red;
    }
  
    .dropdowns {
      display: flex;
      width: auto;
      justify-content: space-between;
      margin-bottom: rem(35);

      &__mobile {
        @include mobile-only {
          margin-bottom: rem(24);
        }
      }
    }
  
    .input-field {
      font: $font-size-regular-p;
      border: rem(1) solid $border-gray;
      opacity: 1;
      padding: rem(9);
      width: 100%;
      margin-bottom: rem(2);
    }

    .account-number {
      color: $dark-gray;
      font: normal normal 300 22px/33px $font-family;
      margin-bottom: 2px;
    }

    .set-as-default {
      display: flex;
      align-items: center;
      font: normal normal 300 17px/26px $font-family;
      @include mobile-only {
        margin-bottom: rem(15) !important;
      }
      .set-as-default-text {
        margin-left: rem(5);
      }
    }
  
    .check-box-text {
      display: block;
      align-items: baseline;
      font: $font-size-regular-h6;
      letter-spacing: rem(0.38);
      opacity: 1;
      letter-spacing: rem(0.34);
      color: $dark-gray;
      opacity: 1;
      margin-bottom: rem(20);
      .checkbox-lable {
        margin-left: rem(5);
        margin-bottom: 0;
      }
    }

    .olympus-privacy-statement {
      display: block;
      align-items: baseline;
      font: normal normal 300 17px/26px $font-family;
      letter-spacing: rem(0.38);
      opacity: 1;
      letter-spacing: rem(0.34);
      color: $dark-gray;
      opacity: 1;
      margin-bottom: rem(10);
      margin-top: rem(14);
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      align-items: end;
    }

    .radio-btn {
      background: $white 0% 0% no-repeat padding-box;
      border: rem(1) solid $gray;
      opacity: 1;
      width: rem(15);
      height: rem(15);
    }

    .checkbox-btn {
      width: rem(16);
      height: rem(16);
      background: $white 0% 0% no-repeat padding-box;
      border: rem(1) solid $gray;
      opacity: 1;
      cursor: pointer;
      border-radius: 0%;
      @include tablet-only {
        width: rem(16) !important;
        height: rem(16) !important;
      }
      @include mobile-only {
        width: rem(13) !important;
        height: rem(13) !important;
      }
    }
  
    .submit-btn {
      width: rem(145);
      height: rem(50);
      background: $blue 0% 0% no-repeat padding-box;
      opacity: 1;
      color: $white;
      border: rem(0);
      @include tablet-mobile-both {
        width: rem(139) !important;
        height: rem(44) !important;
      }
    }
          
    .hyperlink {
      color: $blue;
      a:hover {
        color: $blue !important;
      }
    }
  
    .checkbox-container {
      display: flex;
      position: relative;
      padding-left: rem(30);
      margin-bottom: 0;
      cursor: pointer;
      font: $font-size-regular-p;
      letter-spacing: rem(0.34);
      color: $dark-gray;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    /* Hide the browser's default checkbox */
    .checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: rem(5);
      left: 0;
      height: rem(16);
      width: rem(16);
      background: $white 0% 0% no-repeat padding-box;
      border: rem(1) solid $gray;
    }
  
    /* On mouse-over, add a grey background color */
    .checkbox-container:hover input ~ .checkmark {
      background-color: #ccc;
    }
  
    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkmark {
      background-color: #2196f3;
    }
  
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }
  
    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
      display: block;
    }
  
    /* Style the checkmark/indicator */
    .checkbox-container .checkmark:after {
      left: rem(4);
      top: rem(1);
      width: rem(5);
      height: rem(10);
      border: solid $white;
      border-width: 0 rem(3) rem(3) 0;
      transform: rotate(45deg);
    }
  
    .error_msg {
      font: normal normal 500 13px/1.5em $font-family;;
      color: $red;
      border-color: $red;
      border-width: 2px;
      display: inline-block;
    }

    .password_error_msg {
      font: normal normal 500 13px/1.5em $font-family;;
      color: $red;
      border-color: $red;
      border-width: 2px;
      list-style-type: disc;
    }
  
    .error span {
      font: $footnote;
      color: $red;
      visibility: visible;
    }

    .personalEmail__input {
      width: 100%;
    }
  }
  