//== Fonts

$font-family: "Helvetica Neue", Helvetica;
$font-size: 16px;
$font-height: 1.5em;
$font-size-mob-h1: 38px;
$font-size-mob-h2: 32px;
$font-size-mob-h3: 25px;
$font-size-mob-h4: 22px;
$font-size-mob-h5: 18px;
$font-size-mob-h6: 15px;
$font-size-small1: 14px;
$font-size-small2: 26px;
$font-size-large: 48px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-15: 15px;
$font-size-17: 17px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-bold-h1: normal normal bold 75px/1.2em $font-family;
$font-size-bold-h2: normal normal bold 48px/1.2em $font-family;
$font-size-bold-h3: normal normal bold 32px/1.3em $font-family;
$font-size-bold-h4: normal normal bold 24px/1.2em $font-family;
$font-size-regular-h5: normal normal 500 20px/1.2em $font-family;
$font-size-regular-h6: normal normal 500 18px/1.2em $font-family;
$font-size-regular-p: normal normal 400 17px/1.5em $font-family;
$font-38: normal normal bold 38px/46px $font-family;
$blockquote: normal normal 300 20px/1.5em $font-family;
$blockquote-large-line-height: normal normal 300 20px/1.8em $font-family;
$font-author: normal normal 800 17px/1.5em $font-family;
$footnote: normal normal 500 13px/1.5em $font-family;
$font-size-bold-h5: normal normal bold 20px/26px $font-family;
$font-size-bold-p: normal normal bold 17px/26px $font-family;

//== Color
$color-foreground: #202020;
$color-background: #ececec;
$color-link: #2020e0;
$blue: #08107b;
$blue-v2: #08107a;
$blue-v3: #051776;
$yellow: #e9b225;
$black: #141414;
$red: #d80f30;
$orange: #e97d0f;
$lime: #97c21e;
$turquoise: #00b1bd;
$sky-blue: #436ed2;
$purple: #8f5fa4;
$gray: #777777;
$dark-gray: #444444;
$medium-gray: #cad1d8;
$light-gray: #f2f4f6;
$white: #ffffff;
$drop-shadow: #14141426;
$border-gray: #cbd1d7;
$black-v2: #141414;

//== Margins

$margin-small: 15px;
$margin-large: 30px;

//== Paddings

$padding-small: 40px;
$padding-large: 80px;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark: invert($color-link);
