.productcollection__item {
    width: 100%;
    display: inline-grid;
    background-color: $white;
    padding: rem(30) rem(30) rem(30) rem(25);
    pointer-events: none;
    border-left: rem(5) solid $sky-blue;
    text-decoration: none !important;
    margin-bottom: rem(30);
    letter-spacing: rem(0);

    @include tablet-only {
        padding: rem(15) rem(20) rem(15) rem(15);
        width: 100%;
    }

    @include mobile-only {
        padding: rem(15) rem(15) rem(15) rem(10);
        margin-bottom: rem(17);
        width: 100%;
    }
}
.productcollection__item-actions {
    @include mobile-only {
        padding-top: rem(6);
    }
}
.productcollection__item-button {
    @include desktop-large {
        padding: rem(0) !important;
    }

    @include tablet-only {
        padding: rem(0) !important;
    }
}
.productcollection__item-button--add-to-cart {
    pointer-events: visible;
    cursor: pointer;
    background-color: $blue;
    width: 100%;
    height: rem(43);
    border: none;

    @include tablet-only {
        height: rem(39);
    }

    @include mobile-only {
        height: rem(45);
        padding: rem(13) rem(15);
    }

    @include desktop-large {
        &:hover {
            background-color: $white;
            border: 1px solid $blue;
            .productcollection__item-button-content {
                color: $blue;
            }
        }
    }
}
.productcollection__item-button--add-to-wish-list {
    display: none;
}
.productcollection__item-button-content {
    text-align: left;
    font: normal normal normal $font-size-small1/rem(22) Helvetica;
    letter-spacing: rem(0);
    color: $white;
    pointer-events: none;
    vertical-align: text-top;

    & > span {
        pointer-events: none;
    }

    @include mobile-only {
        vertical-align: top;
    }
}
.productcollection__item-images {
    display: none;
}
.productcollection__item-image {
    display: none;
}
.productcollection__item-image--placeholder {}
.productcollection__item-staged {}
.productcollection__item-title {
    padding-bottom: rem(20);
    border-bottom: rem(1) solid $border-gray;
    text-align: left;
    font: $font-size-bold-h4;
    letter-spacing: rem(0);
    color: $black-v2;

    @include tablet-only {
        padding-bottom: rem(15);
    }

    @include mobile-only {
        padding-bottom: rem(15);
        font: normal normal bold $font-size-mob-h5/rem(22) Helvetica;
        letter-spacing: rem(0.36);
    }
}

.productcollection__item-table--header {
    display: grid;
    grid-template-columns: 15% 25% 25% 15% 10% auto;
    padding: rem(20) rem(0) rem(20) rem(0);
    border-bottom: rem(1) solid $border-gray;

    &-item {
        text-align: left;
        font: $font-size-bold-p;
        letter-spacing: rem(0.34);
        color: $dark-gray;
        padding-right: 0.825rem;

        @include tablet-only {
            font: normal normal bold $font-size-mob-h6/rem(23) Helvetica;
            letter-spacing: rem(0.3);

            &:nth-child(2) {
                margin-left: rem(3);
            }

            &:nth-child(3) {
                margin-left: rem(0);
            }
        }
    }

    @include tablet-only {
        grid-template-columns: 15% 20% 20% 15% 15% auto;
    }

    @include mobile-only {
        display: none;
    }
}

.productcollection__item-table--data {
    padding: rem(20) rem(0) rem(0) rem(0);

    &-row {
        display: none;
        grid-template-columns: 15% 25% 25% 15% 10% auto;
        margin-bottom: rem(30);

        &:first-of-type {
            display: grid;
        }

        @include tablet-only {
            grid-template-columns: 15% 20% 20% 15% 12% 12% auto;
        }
    }

    &-item {
        text-align: left;
        font: $font-size-regular-p;
        letter-spacing: rem(0.34);
        color: $dark-gray;
        opacity: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: rem(10);
        word-break: break-word;
        padding-right: 0.825rem;

        @include tablet-only {
            font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
            letter-spacing: rem(0.3);
            padding-right: rem(15);

            &:nth-child(2),  &:nth-child(3) {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }

        @include desktop-large {
            &:nth-child(2),  &:nth-child(3){
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }

        @include mobile-only {
            font: normal normal 300 $font-size-mob-h6/rem(23) Helvetica;
            letter-spacing: rem(0.3);
            padding-top: rem(3);

            &:nth-child(4),  &:nth-child(6) {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }

    @include mobile-only {
        display: none;
    }
}

.productcollection__item-quantity {
    width: 84%;
    pointer-events: visible;
    cursor: pointer;
    padding-right: rem(0);

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

    &-value {
        width: 100%;
        height: rem(45);
        padding: rem(15);
        border: rem(1) solid $border-gray;
        text-align: left;
        font: $font-size-regular-p;
        letter-spacing: rem(0.34);
        color: $dark-gray;

        @include tablet-only {
            height: rem(39);
        }
    }

    @include tablet-only {
        width: 100%;
        padding-right: rem(0);
    }

    @include mobile-only {
        width: 25%;
        padding-top: rem(6);
        padding-right: rem(0);
    }
}

.productcollection__item-view {
    padding: rem(20) rem(20) rem(0) rem(20);
    text-align: center;
    border-top: rem(1) solid $border-gray;

    &-button-more {
        border: none;
        background-color: inherit;
        text-align: center;
        font: $font-size-bold-h5;
        letter-spacing: rem(0.4);
        color: $blue;
        pointer-events: visible;
        cursor: pointer;
        width: 35%;

        & > img {
            margin-left: rem(10);
            transform: rotate(90deg);
            vertical-align: middle;
        }

        @include tablet-mobile-both {
            font: $font-size-bold-p;
            letter-spacing: rem(0.34);
        }

        @include mobile-only {
            width: 73% !important;
        }
    }

    &-button-less {
        border: none;
        background-color: inherit;
        text-align: center;
        font: $font-size-bold-h5;
        letter-spacing: rem(0.4);
        color: $blue;
        cursor: pointer;
        pointer-events: visible;
        width: 35%;

        & > img {
            margin-left: rem(10);
            transform: rotate(-90deg);
            vertical-align: middle;
        }

        @include tablet-mobile-both {
            font: $font-size-bold-p;
            letter-spacing: rem(0.34);
        }

        @include mobile-only {
            width: 73% !important;
        }
    }

    @include tablet-mobile-both {
        padding: rem(15) rem(15) rem(0) rem(15);
    }
}

.price {
    width: 90%;
    text-align: left;
    font: $font-size-bold-p;
    letter-spacing: rem(0.34);
    color: $blue;
    
    &-item {
        display: block;
        width: 100%;
        height: 100%;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @include tablet-only {
        font: normal normal bold $font-size-mob-h6/rem(23) Helvetica;
        letter-spacing: rem(0.3);
    }
}

.productcollection__item-unavailable {
    grid-template-columns: 15% 25% 25% 15% auto;

    &--text {
        padding-right: 0px;
        color: $black;

        & > img {
            width: rem(17);

            @include tablet-only {
                margin-right: rem(5);
                align-self: flex-start;
            }
        }

        & > span {
            font-size: $font-size-mob-h6;
            vertical-align: baseline;

            @include tablet-only {
                vertical-align: top;
                width: 60%;
                margin-top: rem(-2);
            }

            @include mobile-only {
                vertical-align: top;
            }
        }

        @include tablet-only {
            display: flex;
        }

        @include mobile-only {
            padding-top: rem(5);
            padding-right: 0px;
        }
    }

    @include tablet-only {
        grid-template-columns: 15% 20% 20% 15% auto;
    }

    @include mobile-only {
        display: flex !important;
        flex-direction: column;

        .productcollection__item-mobile-row-actions-price {
            width: 33%;
            margin-right: auto;
        }
    }
}

.productcollection__item-mobile {
    &-row {
        display: inline-grid;
        margin-bottom: rem(15);
        width: 100%;

        &-actions {
            display: flex;
            padding-top: rem(10);
            justify-content: flex-start;

            &-price {
                margin-right: auto;
                width: 41%;
            }
        }

        &-title {
            font: normal normal bold $font-size-mob-h6/rem(23) Helvetica;
            letter-spacing: rem(0.3);
            color: $dark-gray;
            padding-top: rem(10);
        }


        // &:first-of-type {
        //     display: inline-grid;
        // }
        &:nth-child(n+2) {
            border-top: rem(1) solid $border-gray;
        }
    }

    @include tablet-only {
        display: none;
    }

    @include desktop-large {
        display: none;
    }
}

.disabled {
    background: $medium-gray 0% 0% no-repeat padding-box;
    pointer-events: none;
    .productcollection__item-button-content {
        color: $black-v2;
        @include mobile-only {
            vertical-align: text-top;
        }

        @include tablet-only {
            font: normal normal normal $font-size-12/rem(22) Helvetica;
        }

        @include desktop-large {
            font: normal normal normal $font-size-13/rem(22) Helvetica;
        }
    }
    &:hover {
        pointer-events: none;
    }
}

.remove-padding {
    @include mobile-only {
        padding: rem(10) rem(6);
    }
}
