{{!-- <a class="productcollection__item">
    <div class="productcollection__item-images">
        <img src="" class="productcollection__item-image" src="" alt="" />
    </div>
    <div class="productcollection__item-title"><span>18X23_SHELF</span></div>
    <div class="productcollection__item-table">

        <div class="productcollection__item-table--header">
            <span class="productcollection__item-table--header-item">Model Number</span>
            <span class="productcollection__item-table--header-item">Product</span>
            <span class="productcollection__item-table--header-item">Quote Description</span>
            <span class="productcollection__item-table--header-item">Your Price</span>
            <span class="productcollection__item-table--header-item">Quantity</span>
        </div>
        <div class="productcollection__item-table--data">
            <div class="productcollection__item-table--data-row">
                <span class="productcollection__item-table--data-item">CNDRSHF18X23SF</span>
                <span class="productcollection__item-table--data-item">Shelf with Drawer</span>
                <span class="productcollection__item-table--data-item">undefined</span>
                <div class="price productcollection__item-table--data-item">
                    <span class="price-item">$457.30</span>
                </div>
                <div class="productcollection__item-quantity productcollection__item-table--data-item"
                    ngIf="this.productList.products[i].purchaseEnabled">
                    <input class="productcollection__item-quantity-value" type="number" value="1"
                        onChange="onQuantityChange(event)" onKeyDown="quantityValidations(event)" />
                </div>
                <div class="productcollection__item-actions"
                    ngIf="this.productList.products[i].purchaseEnabled">
                    <button
                        class="productcollection__item-button productcollection__item-button--add-to-cart"
                        type="button">
                        <span class="productcollection__item-button-content">
                            <span>Add to Cart</span>
                        </span>
                    </button>
                    <button
                        class="productcollection__item-button productcollection__item-button--add-to-wish-list"
                        type="button">
                        <span class="productcollection__item-button-content">
                            <span>Add to Wish List</span>
                        </span>
                    </button>
                </div>
                <div class="productcollection__item-table--data-item productcollection__item-unavailable--text"
                    ngIf="!this.productList.products[i].purchaseEnabled">
                    <img src="/assets/icons/Important_Red.svg" alt="Important Red" />
                    <span>Temporarily Unavailable</span>
                </div>
            </div>
        </div>
        <div class="productcollection__item-mobile">
            <div class="productcollection__item-mobile-row">
                <span class="productcollection__item-mobile-row-title">Model Number</span>
                <span class="productcollection__item-table--data-item">CNDRSHF18X23SF</span>
                <span class="productcollection__item-mobile-row-title">Product</span>
                <span class="productcollection__item-table--data-item">Shelf with Drawer</span>
                <span class="productcollection__item-mobile-row-title">Quote Description</span>
                <span class="productcollection__item-table--data-item">undefined</span>
                <div class="productcollection__item-mobile-row-actions">
                    <div class="productcollection__item-mobile-row-actions-price">
                        <span class="productcollection__item-mobile-row-title">Your Price</span>
                        <div class="price productcollection__item-table--data-item">
                            <span class="price-item">$457.30</span>
                        </div>
                    </div>
                    <div class="productcollection__item-quantity productcollection__item-table--data-item"
                        ngIf="this.productList.products[i].purchaseEnabled">
                        <input class="productcollection__item-quantity-value" type="number" value="1"
                            onChange="onQuantityChange(event)" onKeyDown="quantityValidations(event)" />
                    </div>
                    <div class="productcollection__item-actions"
                        ngIf="this.productList.products[i].purchaseEnabled">
                        <button
                            class="productcollection__item-button productcollection__item-button--add-to-cart"
                            type="button">
                            <span class="productcollection__item-button-content">
                                <span>Add to Cart</span>
                            </span>
                        </button>
                        <button
                            class="productcollection__item-button productcollection__item-button--add-to-wish-list"
                            type="button">
                            <span class="productcollection__item-button-content">
                                <span>Add to Wish List</span>
                            </span>
                        </button>
                    </div>
                    <div class="productcollection__item-table--data-item productcollection__item-unavailable--text"
                        ngIf="!this.productList.products[i].purchaseEnabled">
                        <img src="/assets/icons/Important_Red.svg" alt="Important Red" />
                        <span>Temporarily Unavailable</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="productcollection__item-view">
        <button type="button" class="productcollection__item-view-button-more" data-index=${i}
            onclick="openViewMore(event)"><span>View More Options </span><img
                src="/assets/icons/Arrow_Blue.svg" alt="Blue Arrow"></button>
        <button type="button" class="productcollection__item-view-button-less" data-index=${i}
            onclick="closeViewMore(event)" style="display: none"><span>View Less Options</span> <img
                src="/assets/icons/Arrow_Blue.svg" alt="Blue Arrow"></button>
    </div>
</a> --}}